*{
	font-family: "Microsoft YaHei";
}
.login-main{
	width:300px;
	margin:7% auto;
	padding:40px 40px 0px 40px;
	background-color:#B4D8FA;
	border-radius:10px;
	
}
.login-main .title{
	width:100%;
	text-align:center;
}
.login-main form{
	width:100%;
	margin:0 auto;
	padding:15px 0px;
}
.inputer{
	height:40px;
}
.username,.password{
	width:200px;
	height:30px;
	padding-left:20px;
	border-radius:5px;
	border:0;
}
#sure{
	width:150px;
	margin:40px auto; 
}